.App {
  font-family: 'Nuosu SIL',
    serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 75px;
  
}

form {
  text-align: center;
  position: relative;
  margin-top: 7%;

}

.search-bar,
.search-button {
  border-radius: 20px;
  border: solid thin;
}

.search-bar {
  width: 60%;
  margin-right: 25px;
  height: 40px;
  text-align: center;
}

.search-button {
  padding: 6px 12px;

}

.initial-page {
  background-color: black;
  color: white;
  padding-bottom: 20px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
}

.cap {
  text-transform: capitalize;
}

.part-of-speech{
  border-radius: 25px;
  width: fit-content;
  padding: 7px 20px;
  margin-bottom: 30px;
}

.part-of-speech {
  border: black solid 2px;
  background-color: black;
  color: white;
}


.searched-word {
  margin-bottom: 5%;
  margin-top: 2%;
  font-size: 40px;
}

.results {
  margin-top: 10%;
  margin-left: 5%;
  
}

.definition {
  font-size: 17px;
  font-weight:700;
}

.definition-list {
  margin-right: 100px;
}

.github {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.github:hover {
  color: dimgray;
  transition: 200ms ease-in-out;
}

.ant, .syn{
  margin-left: 5%;
}

.footer {
  margin: 10px auto;
  text-align: center;
}

li, .examples{
  margin-left: 5%;
  margin-right: 15%;
}

.speaker-emoji{
  text-decoration: none;
}

ol{
  width:50%;
}

.pronounciation{
  position: relative;
  left: 5%;

}