.App{
font-family: 'Nuosu SIL',
  serif;
}

.title{
  text-align: center;
  margin-bottom: 20px;
  font-size: 75px;
  position: relative;
  
  top: 5%;
}

form{
  text-align: center;
  position: relative;
  margin-top: 7%;
  
}

.search-bar, .search-button{
  border-radius:  20px;
  border: solid thin;
}

.search-bar{
  width: 70%;
  margin-right: 25px;
  height: 40px;
}

.search-button{
  padding: 4px 12px;
  
}

.initial-page{
  background-color: black;
  color:white;
  padding-bottom: 20px;
  position: relative;
  top:0px;
  left:0px;
  width:100%;
}